@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --color-primary: #5d5fef;
  --color-secondary: #ef5da8;
  --color-text: #42567a;
  --color-text-light: #3877ee;
  --color-border: rgba(66, 86, 110, 0.1);
  --color-accent: #ef5da8;
  --bg-color: #F4F5F9;

  --gradient: linear-gradient(
    180deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );

  --font-family: "PT Sans", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background: var(--bg-color);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  overflow: hidden;
}
